html,
body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height */
  background-color: #ffffff;

  /* Flexbox to center the canvas */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

canvas {
  display: block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Optional: adds a nice shadow */
}
